# Supabase DB
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres.******
DB_PASSWORD=******
# Supabase Storage
SUPABASE_S3_BUCKET=movies
SUPABASE_S3_ENDPOINT=https://******.storage.supabase.co/storage/v1/s3
SUPABASE_S3_REGION=ap-northeast-2
SUPABASE_S3_ACCESS_KEY=******
SUPABASE_S3_SECRET_KEY=************